@font-face {
    font-family: gorthia-black;
    src: url("./font/gordita-black.otf");
}

@font-face {
    font-family: gorthia-regular;
    src: url("./font/gordita-regular.otf");
}

@font-face {
    font-family: gorthia-light;
    src: url("./font/gordita-light.otf");
}

@font-face {
    font-family: gorthia-medium;
    src: url("./font/gordita-medium.otf");
}

@font-face {
    font-family: gorthia-thin;
    src: url("./font/gordita-thin.otf");
}

@font-face {
    font-family: gorthia-ultra;
    src: url("./font/gordita-ultra.otf");
}

@font-face {
    font-family: gorthia-bold;
    src: url("./font/gordita-bold.otf");
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #1C1E21;
    font-family: gorthia-regular;
    color: #fff;
   
}



canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}

header .nav {
    display: flex;
    align-items: center;
    list-style: none;
}

header .nav li a {
    font-family: gorthia-medium;
    padding: 10px;
    text-decoration: none;
    color: #b3b3b3;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.about h1 {
    color: white;
    font-weight: 800;
    font-size: 30px;
}

.about {
    margin-top: 115px;
    padding: 10px 0;
}

.projects {
    margin-top: 115px;
    padding: 10px 0;
}

.projects .heading,
.contact .heading {
    font-size: 12px;
    color: #b3b3b3;
}

.project {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    color: #1C1E21;
    margin-top: 25px;
}

.project .technologies {
    color: #b3b3b3;
    font-size: 13px;
}

.project h1 {
    color: black;
    font-family: gorthia-medium;
    font-size: 20px;
}

.project a{
    text-decoration: none;
}

.name {
    font-family: gorthia-medium;
    color: #b3b3b3;
    font-size: 25px;
}

.about .name {
    color: #b3b3b3;
}

.project .link {
    color: #1C1E21;
    /* text-decoration: none; */
    font-size: 14px;
}

.project .link span {
    margin-right: 5px;
}

.project .description {
    font-size: 15px;
    margin: 40px 0;
}

.project .link ion-icon {
    font-size: 20px;
}

.links ion-icon {
    font-size: 20px;
    color: rgba(235, 235, 245, .6);
}

.links span {
    margin-right: 15px;
}

.contact {
    margin-top: 115px;
}

.contact .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .info .email {
    color: #fff;
}

.contact .info .email h1 {
    font-family: gorthia-medium;
    font-size: 24px;
    color: #fff;
}

.contact .info .links a {
    margin-left: 20px;
    text-decoration: none;
}

.contact .info .links a ion-icon {
    font-size: 24px;
    color: #fff;
}

.contact .info .links a:first-child {
    margin-left: 0;
}

footer {
    margin-top: 115px;
}

footer p {
    font-size: 10px;
    color: #b3b3b3;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #b3b3b3;
}

::selection {
    color: #fff;
    background: #2b2b2b;
}

.menu {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu ion-icon {
    color: #b3b3b3;
    font-size: 35px;
}


.menu {
    display: none;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}

@media (max-width: 576px) {
    .nav.open {
        display: block !important;
    }

    .nav {
        display: none !important;
        position: absolute;
        padding: 0;
        top: 65px;
        left: 0;
        right: 0;
        background-color: #111;
        margin: 0;
        z-index: 1;
        padding: 20px;
    }

    .nav li {
        margin: 10px 0;
    }

    .menu {
        display: block;
        z-index: 2;
    }

}